@import "../../common";
@import "../../header";
@import "../../depozit";
@import "../../bottom";

// ! END
.depozit-content .card-groups {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  padding: 10px;
}

.depozit-content .card-groups .card {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 13px;

  p.secondary {
    opacity: 0.8;
    font-size: 12px;
  }
}

.card-groups .card .forward {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
  background: #eee;
  gap: 5px;

  .card-image {
    flex: 2;

    img {
      width: 60%;
      margin: 0 auto;
      height: 95%;
    }
  }
  .card-type {
    flex: 2;
  }
  .card-service {
    flex: 2;
  }
  .card-limit {
    flex: 2;
  }
  .arrow {
    flex: 1;
    background-color: #dadada;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.turn i {
      transform: rotateZ(0);
    }

    i {
      font-size: 18px;
      font-weight: 600;
      transform: rotateZ(-90deg);
      transition: 0.3s all;
    }
  }
}

.card-groups .card .backward {
  display: none;

  &.show {
    display: block;
  }
}

.card-groups .card .backward .content-head {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 0;
  padding-left: 22px;
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 50px;
  border-bottom: 1px solid #b7b7b7;

  img {
    width: 62px;
    height: 31px;
  }
}

.card-groups .card .backward .content-description {
  display: flex;

  .amount {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description {
    flex: 1;
  }
}
.content-description .amount {
  padding-top: 25px;
}
.content-description .amount form .input-content {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  input {
    width: 200px;
    outline: none;
    height: 29px;
    border: none;
    padding-left: 5px;
  }
}

.content-description .amount form {
  button {
    margin: 0 auto;
    margin-top: 20px;
    @include btn;
    padding: 18px 28px;
    width: 170px;
    margin-left: 65px;
  }
}

.content-description .amount form .input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.content-description .description {
  margin-top: 25px;

  .box {
    width: 80%;
    background-color: #eee;
    padding: 30px;
    padding-top: 9px;
    padding-left: 9px;
    border-radius: 5px;
  }
}

@media (max-width: 1024px) {
  main .container {
    width: 90%;
  }
}

@media (max-width: 991px) {
  main .container .account-content {
    display: none;
  }

  main .container .depozit-content .back {
    display: block;
    transform: rotateZ(90deg);
  }
}

@media (max-width: 768px) {
  main .container .depozit-content {
    background: transparent;
  }

  .depozit-content .card-groups {
    margin-top: 0;
    padding: 0;
  }
  .card-groups .card .forward .card-image {
    flex: 1;
  }
  .card-groups .card .forward .card-image img {
    width: 90px;
    height: 45px;
  }
  .card-groups .card .forward .card-service {
    display: none;
  }
  .card-groups .card .forward .card-limit {
    display: none;
  }

  .card-groups .card .backward {
    background-color: #fff;
  }

  .card-groups .card .backward .content-head {
    font-size: 13px;
  }
  .card-groups .card .backward .content-head img {
    display: none;
  }
  .card-groups .card .backward .content-description {
    flex-direction: column;
  }

  .amount form {
    width: 100%;
  }

  .content-description .amount form .input-content input {
    border: 2px solid #eee;
    border-radius: 5px;
    width: 220px;
  }
  .content-description .amount form .input-content {
    flex-direction: column;
    margin-left: 20px;
    width: 80%;
    align-items: flex-start;
    gap: 2px;
  }

  .content-description .amount form button {
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
    width: 220px;
  }

  .content-description .description .desc-title {
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 1px solid #eee;
  }
  .content-description .description .box {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}


@media (max-width: 500px) {

  .amount form {
    padding: 0 20px;
  }
  .content-description .amount form .input-content {
    width: 100%;
    margin: 0;
  }
  .content-description .amount form .input-content input {
    width: 100%;
    height: 32px;
  }
  .content-description .amount form button {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
}
