/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

li, ul {
  list-style-type: none !important;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
  list-style-type: none;
}

@keyframes newAnimation {
  from {
    opacity: 0.6;
    transform: scale(1) rotateZ(3deg);
  }
  to {
    opacity: 1;
    transform: scale(1.05) rotateZ(4deg);
  }
}
@media (max-width: 500px) {
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    display: none !important;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    display: none !important;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

li, ul {
  list-style-type: none !important;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
  list-style-type: none;
}

@keyframes newAnimation {
  from {
    opacity: 0.6;
    transform: scale(1) rotateZ(3deg);
  }
  to {
    opacity: 1;
    transform: scale(1.05) rotateZ(4deg);
  }
}
@media (max-width: 500px) {
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    display: none !important;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    display: none !important;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(18, 22, 26, 0.56);
  position: absolute;
  z-index: 2;
}
.overlay.show {
  display: block;
}

.nav-aside {
  display: block;
  background: #20202b;
  top: 2px;
  left: -100%;
  width: 70%;
  z-index: 995;
  height: 100%;
  overflow-y: scroll;
  transition: 0.4s ease left;
  position: absolute;
}
.nav-aside.active {
  left: 0;
}
.nav-aside .wrapper {
  padding: 20px;
  color: #fff;
}
.nav-aside .wrapper .language-bar {
  width: 100%;
  margin-bottom: 10px;
}
.nav-aside .wrapper .language-bar select {
  width: 100%;
  padding: 6px 0;
}
.nav-aside .wrapper .nav-list {
  height: 100%;
}
.nav-aside .wrapper .nav-list li {
  margin-bottom: 10px;
}
.nav-aside .wrapper .nav-list li.passive {
  opacity: 0.5;
}
.nav-aside .wrapper .nav-list a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}
.nav-aside .wrapper .nav-list a i {
  color: #efc02c;
}
@media (min-width: 991px) {
  .nav-aside {
    display: none !important;
  }
}

#header {
  display: flex;
  color: #fff;
  padding: 10px 0;
  background-color: #20202b;
  flex-direction: column;
}
#header .mobile-part {
  display: block;
}
@media (min-width: 991px) {
  #header .mobile-part {
    display: none !important;
  }
}
#header .hero-part {
  display: flex;
  width: 99%;
  justify-content: space-around;
  margin: 15px 0;
  margin-bottom: 7px;
}
@media (min-width: 1600px) {
  #header .hero-part {
    width: 85%;
    justify-content: space-between;
  }
}
@media (max-width: 991px) {
  #header .hero-part {
    display: none;
  }
}
#header .detail-part {
  display: flex;
  font-size: 15px;
}
#header .detail-part .clock {
  margin-right: 12px;
  font-size: 14px;
}
#header .detail-part .social-items {
  margin-right: 16px;
}
#header .detail-part .social-items a {
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
}
#header .detail-part .social-items a i {
  font-size: 1.2rem;
}
@media (min-width: 1600px) {
  #header .detail-part .social-items a {
    font-size: 1.4rem;
  }
}
#header .detail-part .download-items {
  display: flex;
  gap: 12px;
}
@media (max-width: 1120px) {
  #header .detail-part .detail-part {
    font-size: 15px;
  }
  #header .detail-part .clock {
    margin: 0;
  }
  #header .detail-part .social-items {
    margin-right: 10px;
  }
}
@media (max-width: 991px) {
  #header .detail-part {
    display: none;
  }
}
#header .auth-part {
  display: flex;
  align-items: center;
  gap: 10px;
}
#header .auth-part .form-bar {
  display: flex;
  gap: 7px;
  font-size: 14px;
}
#header .auth-part .form-bar .forgot-password {
  margin-right: 8px;
}
#header .auth-part .form-bar .forgot-password a {
  font-size: 14px;
  color: #fff;
}
#header .auth-part .form-bar .btn-register {
  position: relative;
  border: 0;
  outline: 0;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  background: #efc02c;
  color: #fff;
  font-weight: 500;
  height: 28px;
  line-height: 3px;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: filter 120ms ease-in;
  transition: transform 0.2s;
  cursor: pointer;
}
#header .auth-part .form-bar .btn-register:hover {
  background-color: rgb(219, 219, 57);
}
#header .auth-part .form-bar form {
  display: flex;
  gap: 7px;
}
#header .auth-part .form-bar form input {
  width: 120px;
  height: 28px;
  padding-left: 5px;
  background-color: #272933;
  transition: 0.4s ease border-color;
  border: 0.0625rem solid rgba(255, 255, 255, 0.041);
  color: #fff;
}
#header .auth-part .form-bar form input:focus {
  border-color: #ccc;
  outline: none;
}
#header .auth-part .form-bar form .btn-login {
  position: relative;
  border: 0;
  outline: 0;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  background: #efc02c;
  color: #fff;
  font-weight: 500;
  height: 28px;
  line-height: 3px;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: filter 120ms ease-in;
  transition: transform 0.2s;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.041);
  color: #fff;
}
#header .auth-part .form-bar form .btn-login:hover {
  transform: scale(1.05);
}
#header .auth-part .isAuth.form-bar .account-information {
  display: flex;
  align-items: center;
}
#header .auth-part .isAuth.form-bar .account-information a {
  color: #efc02c;
}
#header .auth-part .isAuth.form-bar .account-information a i {
  font-size: 18px;
}
#header .auth-part .isAuth.form-bar .account-information span {
  background-color: #2d2d36;
  padding: 8px;
  margin-left: 10px;
  margin-right: 5px;
}
#header .auth-part .isAuth.form-bar .button-group {
  display: flex;
  gap: 7px;
  align-items: center;
}
#header .auth-part .isAuth.form-bar .button-group a {
  position: relative;
  border: 0;
  outline: 0;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  background: #efc02c;
  color: #fff;
  font-weight: 500;
  height: 28px;
  line-height: 3px;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: filter 120ms ease-in;
  transition: transform 0.2s;
  cursor: pointer;
  padding-right: 12px;
  padding-left: 12px;
}
#header .auth-part .isAuth.form-bar .button-group a:hover {
  transform: scale(1.05);
}
#header .auth-part .isAuth.form-bar .button-group a.account {
  background: #dfe6e8;
  color: #000;
}
#header .auth-part .isAuth.form-bar .button-group a i {
  margin-right: 12px;
}
#header .auth-part .isAuth.form-bar .button-group .sign-out {
  border: none;
  cursor: pointer;
  background-color: #2d2d36;
  transition: 0.2s all;
}
#header .auth-part .isAuth.form-bar .button-group .sign-out:hover {
  opacity: 0.7;
}
#header .auth-part .isAuth.form-bar .button-group .sign-out i {
  color: #fff;
  padding: 4px;
  border-radius: 3px;
}
#header .auth-part .language-bar {
  gap: 10px;
  cursor: pointer;
}
#header .auth-part .language-bar span {
  margin-right: 5px;
}
#header .auth-part .language-bar img {
  display: inline;
  transform: scale(1.1);
}
@media (max-width: 991px) {
  #header .auth-part {
    display: none;
  }
}
#header .nav-part {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
@media (max-width: 1120px) {
  #header .nav-part {
    width: 100% !important;
  }
}
@media (max-width: 991px) {
  #header .nav-part {
    display: none;
  }
}
#header .banner {
  cursor: pointer;
}
#header nav ul li {
  display: inline-block;
  margin-right: 18px;
  position: relative;
}
#header nav ul li a.link {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  transition: color 80ms ease-in;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#header nav ul li a.link:hover {
  color: #efc02c;
}
#header nav ul li span {
  position: absolute;
  top: -10px;
  right: -11px;
  color: #fff;
  background: red;
  font-size: 9px;
  height: 16px;
  line-height: normal;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  animation: newAnimation 0.3s infinite alternate;
  pointer-events: none;
}
#header nav ul li .jetX {
  transform: translateY(10px);
}

#header .mobile-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 7px;
}
#header .menu-icon {
  display: flex;
  position: relative;
  z-index: 99;
  align-items: center;
  gap: 10px;
}
#header .menu-icon i {
  font-size: 28px;
}
#header .logo-banner {
  margin-right: 20px;
}
#header .content {
  display: flex;
  align-items: center;
}
#header .content .chat-banner {
  margin-right: 12px;
}
#header .content .chat-banner i {
  font-size: 28px;
  color: #efc02c;
}
#header .content .btn-groups a.btn {
  position: relative;
  border: 0;
  outline: 0;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  background: #efc02c;
  color: #fff;
  font-weight: 500;
  height: 28px;
  line-height: 3px;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: filter 120ms ease-in;
  transition: transform 0.2s;
  cursor: pointer;
  margin-right: 12px;
  padding: 17px 7px;
}
#header .content .btn-groups a.btn.btn-login {
  background-color: #fff;
  color: #000;
}
@media (max-width: 460px) {
  #header .menu-icon i {
    font-size: 20px;
  }
  #header .content .chat-banner i {
    font-size: 20px;
  }
  #header .content .btn-groups a.btn {
    font-size: 13px;
    height: 22px;
    margin-right: 5px;
    padding: 14px 5px;
  }
  #header .logo-banner img {
    width: 100px;
    height: 26px;
  }
}
@media (max-width: 375px) {
  #header .menu-icon i {
    font-size: 18px;
  }
  #header .content .chat-banner i {
    font-size: 19px;
  }
  #header .content .btn-groups a.btn {
    font-size: 11px;
    height: 20px;
    margin-right: 3px;
    padding: 12px 5px;
  }
  #header .logo-banner img {
    width: 100px;
    height: 26px;
  }
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

li, ul {
  list-style-type: none !important;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
  list-style-type: none;
}

@keyframes newAnimation {
  from {
    opacity: 0.6;
    transform: scale(1) rotateZ(3deg);
  }
  to {
    opacity: 1;
    transform: scale(1.05) rotateZ(4deg);
  }
}
@media (max-width: 500px) {
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    display: none !important;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    display: none !important;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #20202b;
  border-top: 5px solid red;
  padding: 30px 0;
}

footer .wrapper {
  width: 90%;
  margin: 0 auto;
}

footer .wrapper .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .wrapper .menu nav {
  display: flex;
  flex: 4;
}
footer .wrapper .menu .logo-content {
  flex: 1;
}

footer .wrapper .menu .main {
  display: flex;
  width: 100%;
}
footer .wrapper .menu .main li {
  flex: 1;
}
footer .wrapper .menu .main li span {
  color: #efc02c;
}
footer .wrapper .menu .main li ul li {
  margin-top: 5px;
}
footer .wrapper .menu .main li ul li a {
  color: #fff;
  font-size: 13px;
  transition: 0.3s all;
}
footer .wrapper .menu .main li ul li a:hover {
  color: #efc02c;
}

@media (max-width: 1024px) {
  footer .wrapper .menu {
    display: none;
  }
}
footer .cards-content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
footer .cards-content .part__1 {
  display: flex;
  gap: 20px;
}
footer .cards-content .part__2 {
  display: flex;
  gap: 20px;
}
footer .cards-content .part__2 img {
  height: 21px;
}

@media (max-width: 991px) {
  footer .cards-content {
    flex-direction: column;
  }
  footer .cards-content .part__2 {
    flex-wrap: wrap;
    margin-top: 15px;
  }
}
footer .partnership-content {
  display: flex;
  margin-top: 25px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
footer .partnership-content img {
  width: 81px;
  margin-right: 5px;
  height: 31px;
}

footer .copyright-content {
  display: flex;
  margin: 25px;
  justify-content: space-between;
  align-items: center;
}
footer .copyright-content .download {
  display: flex;
  align-items: center;
}
footer .copyright-content span {
  color: #efc02c;
}
footer .copyright-content .social-items {
  margin-right: 16px;
}
footer .copyright-content .social-items a {
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
}
footer .copyright-content .social-items a i {
  font-size: 1.2rem;
}
@media (min-width: 1600px) {
  footer .copyright-content .social-items a {
    font-size: 1.4rem;
  }
}
footer .copyright-content .download-items {
  display: flex;
  gap: 12px;
}

@media (max-width: 991px) {
  footer .copyright-content span {
    font-size: 13px;
  }
  footer .copyright-content .download {
    flex-direction: column;
    align-items: flex-end;
  }
}
body {
  background-color: #20202b;
}

main {
  margin-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

main .container {
  width: 83%;
  display: flex;
}
main .container .account-content {
  flex: 1;
  background: #ececec;
}
main .container .account-content .content-title {
  background: #d9d9d9;
  font-size: 13px;
  font-weight: 600;
  border-left: 3px solid #efc02c;
}
main .container .depozit-content {
  flex: 4;
  background-color: rgb(231, 231, 231);
}
main .container .depozit-content .content-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 27px;
}
main .container .depozit-content .back {
  display: none;
}

main .wrapper {
  font-size: 13px;
  padding-bottom: 20px;
}

main .wrapper .category {
  margin-bottom: 5px;
}

main .wrapper .category hr {
  border-top: 0.0625rem dashed #333;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 1.6875rem auto 0;
  width: calc(100% - 3.125rem);
}

main .container .content-title {
  height: 35px;
  padding-left: 27px;
  line-height: 35px;
}

main .container .wrapper .wrapper-title {
  font-weight: 400;
  padding: 10px 0;
  padding-left: 24px;
  color: #696969;
}

main .wrapper .sub-category ul li {
  transition: background-color 120ms ease-in, color 120ms ease-in;
  height: 31px;
  position: relative;
  line-height: 31px;
  margin-bottom: 5px;
  color: #949494;
}
main .wrapper .sub-category ul li a {
  color: inherit;
  position: absolute;
  top: 0;
  border-left: 2px solid transparent;
  padding-left: 21px;
  left: 0;
  width: 100%;
}
main .wrapper .sub-category ul li a:hover {
  background: #e2e2e2;
  color: #222;
  border-left: 2px solid #efc02c;
}
main .wrapper .sub-category ul li a.active {
  background: #e2e2e2;
  color: #222;
  border-left: 2px solid #efc02c;
}

.depozit-content .content-title {
  background: #efc02c;
  color: #fff;
  font-weight: 600;
}

.depozit-content .card-groups {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  padding: 10px;
}

.depozit-content .card-groups .card {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 13px;
}
.depozit-content .card-groups .card p.secondary {
  opacity: 0.8;
  font-size: 12px;
}

.card-groups .card .forward {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
  background: #eee;
  gap: 5px;
}
.card-groups .card .forward .card-image {
  flex: 2;
}
.card-groups .card .forward .card-image img {
  width: 60%;
  margin: 0 auto;
  height: 95%;
}
.card-groups .card .forward .card-type {
  flex: 2;
}
.card-groups .card .forward .card-service {
  flex: 2;
}
.card-groups .card .forward .card-limit {
  flex: 2;
}
.card-groups .card .forward .arrow {
  flex: 1;
  background-color: #dadada;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-groups .card .forward .arrow.turn i {
  transform: rotateZ(0);
}
.card-groups .card .forward .arrow i {
  font-size: 18px;
  font-weight: 600;
  transform: rotateZ(-90deg);
  transition: 0.3s all;
}

.card-groups .card .backward {
  display: none;
}
.card-groups .card .backward.show {
  display: block;
}

.card-groups .card .backward .content-head {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 0;
  padding-left: 22px;
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 50px;
  border-bottom: 1px solid #b7b7b7;
}
.card-groups .card .backward .content-head img {
  width: 62px;
  height: 31px;
}

.card-groups .card .backward .content-description {
  display: flex;
}
.card-groups .card .backward .content-description .amount {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-groups .card .backward .content-description .description {
  flex: 1;
}

.content-description .amount {
  padding-top: 25px;
}

.content-description .amount form .input-content {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.content-description .amount form .input-content input {
  width: 200px;
  outline: none;
  height: 29px;
  border: none;
  padding-left: 5px;
}

.content-description .amount form button {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  border: 0;
  outline: 0;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  background: #efc02c;
  color: #fff;
  font-weight: 500;
  height: 28px;
  line-height: 3px;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: filter 120ms ease-in;
  transition: transform 0.2s;
  cursor: pointer;
  padding: 18px 28px;
  width: 170px;
  margin-left: 65px;
}

.content-description .amount form .input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.content-description .description {
  margin-top: 25px;
}
.content-description .description .box {
  width: 80%;
  background-color: #eee;
  padding: 30px;
  padding-top: 9px;
  padding-left: 9px;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  main .container {
    width: 90%;
  }
}
@media (max-width: 991px) {
  main .container .account-content {
    display: none;
  }
  main .container .depozit-content .back {
    display: block;
    transform: rotateZ(90deg);
  }
}
@media (max-width: 768px) {
  main .container .depozit-content {
    background: transparent;
  }
  .depozit-content .card-groups {
    margin-top: 0;
    padding: 0;
  }
  .card-groups .card .forward .card-image {
    flex: 1;
  }
  .card-groups .card .forward .card-image img {
    width: 90px;
    height: 45px;
  }
  .card-groups .card .forward .card-service {
    display: none;
  }
  .card-groups .card .forward .card-limit {
    display: none;
  }
  .card-groups .card .backward {
    background-color: #fff;
  }
  .card-groups .card .backward .content-head {
    font-size: 13px;
  }
  .card-groups .card .backward .content-head img {
    display: none;
  }
  .card-groups .card .backward .content-description {
    flex-direction: column;
  }
  .amount form {
    width: 100%;
  }
  .content-description .amount form .input-content input {
    border: 2px solid #eee;
    border-radius: 5px;
    width: 220px;
  }
  .content-description .amount form .input-content {
    flex-direction: column;
    margin-left: 20px;
    width: 80%;
    align-items: flex-start;
    gap: 2px;
  }
  .content-description .amount form button {
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
    width: 220px;
  }
  .content-description .description .desc-title {
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 1px solid #eee;
  }
  .content-description .description .box {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .amount form {
    padding: 0 20px;
  }
  .content-description .amount form .input-content {
    width: 100%;
    margin: 0;
  }
  .content-description .amount form .input-content input {
    width: 100%;
    height: 32px;
  }
  .content-description .amount form button {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
}/*# sourceMappingURL=index.css.map */